:root {
  --primary-color: #FF5733; 
  --secondary-color: #c491f4; 
  --tertiary-color: #20B2AA; 
  --bg-color: #000; 
  --text-color: #FFFFFF; 
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px 2.5px var(--primary-color); 
}


.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 50px;
  border-radius: 50%;
}

.logo h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin-left: 5px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.time {
  margin-left: auto;
  color: var(--text-color);
  margin-right:15px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-grow: 1; 
  margin: 0;
  padding: 0;
  position: absolute;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items li:last-child {
  margin-right: 0;
}

.nav-items li a {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.4s ease;
}

.nav-items li a:hover {
  background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:80vh;
  align-items: center;
  padding:55px 15px;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid var(--tertiary-color);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 10vh;
  text-align: center;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

.main h1 {
  font-size: 66px;
  margin: 5px 0;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main h4 {
  font-size: 25px;
  margin: 0;
  font-weight:600;
  color: var(--secondary-color)
}

.main h4 a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s ease;
}

.main p {
  font-size: 20px;
  color: var(--text-color);
  margin: -20px 0;
}

.main p a:hover {
  color: var(--link-hover-color);
}

.button {
  display: inline-block;
  margin-top: 5px;
  padding: 7.5px 15px;
  background-color: var(--tertiary-color);
  color: black;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  transition: all .5s ease;
  cursor: pointer;
}

.button:hover {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--text-color);
}

span{
  vertical-align: text-top;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #444;
  color: white;
  padding: 15px;
  border-radius: 5px;
  opacity: 1;
  display: none;
  animation: slide-up 0.5s ease-out;
}

.notification.show {
  display: block;
}

.notification.hide {
  animation: slide-down 0.5s ease-out forwards;
  transition: opacity 0.5s;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.duration-bar {
  height: 5px;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
}

.duration-bar.decrease {
  animation: decrease-width linear;
  animation-fill-mode: forwards;
}

@keyframes decrease-width {
  to {
    width: 0;
  }
}