body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: black;
    font-family: 'Poppins', sans-serif;
  }
  
  #particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 65px;
    border-radius: 50%;
  }
  
  .logo h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-left: 5px;
    background: linear-gradient(to right, #FFA500, #FF00FF, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-items li {
    margin-right: 20px;
  }
  
  .nav-items li:last-child {
    margin-right: 50px;
  }
  
  .nav-items li a {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    transition: all 0.4s ease;
  }
  
  .nav-items li a:hover {
    color: #00FFFF;
  }
  
  h1 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin-top: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10vh;
    justify-content: center;
  }

  p {
    text-align: center;
    color:white;
    margin: -15px auto;
  }

  .search-container {
    display: flex;
    width:80vh;
    margin: 30px auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 10px;
    border-radius: 5px;
  }
  
  .search-container i {
    color: grey;
    margin: 5px;
  }
  
  .search-container form{
    width:79vh;
  }

  .search-container input[type="text"] {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    outline: none;
    width: 76vh;
  }