:root {
  --primary-color: #FF5733; 
  --secondary-color: #c491f4; 
  --tertiary-color: #20B2AA; 
  --bg-color: #000; 
  --text-color: #FFFFFF; 
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}

.search-container {
  display: flex;
  width: 80vh;
  margin: 30px auto;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.search-container i {
  color: var(--text-color);
  opacity:0.5;
  margin: 5px;
}

.search-container input[type="text"] {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  outline: none;
  width: 200px;
}

.g-container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: left;
}

.g {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  outline: none;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.g:hover {
  transform: scale(1.05);
}

.g img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.g h3 {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}
