
:root {
  --primary-color: #FF5733; 
  --secondary-color: #b87bf1; 
  --tertiary-color: #20B2AA; 
  --bg-color: #000; 
  --text-color: #FFFFFF; 
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}


#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px 2.5px var(--primary-color); 
}


.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 50px;
  border-radius: 50%;
}

.logo h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin-left: 5px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.time {
  margin-left: auto;
  color: var(--text-color);
  margin-right:15px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-grow: 1; 
  margin: 0;
  padding: 0;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items li:last-child {
  margin-right: 0;
}

.nav-items li a {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.4s ease;
}

.nav-items li a:hover {
  background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.settings {
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1fr;
}

.category {
  padding: 15px;
  margin:15px;
  border-radius: 5px;
  border: 1px solid var(--text-color);
}


.category h2 {
  color: var(--text-color);
  font-size: 24px;
  margin-bottom: 10px;
}

.section-content {
  color: var(--text-color);
}

.buttons {
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 8px;
  width: 45%;
  color:var(--text-color);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
}


.button {
  padding: 8px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--secondary-color);
}

.button-container {
  margin-top: 20px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

select::after {
  content: '\25BC';
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding-right: 20px;
  cursor: pointer;
}

span{
  vertical-align: text-top;
}

#panic input{
  width:90%;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #444;
  color: white;
  padding: 15px;
  border-radius: 5px;
  opacity: 1;
  display: none;
  animation: slide-up 0.5s ease-out;
}

.notification.show {
  display: block;
}

.notification.hide {
  animation: slide-down 0.5s ease-out forwards;
  transition: opacity 0.5s;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.duration-bar {
  height: 5px;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
}

.duration-bar.decrease {
  animation: decrease-width linear;
  animation-fill-mode: forwards;
}

@keyframes decrease-width {
  to {
    width: 0;
  }
}